name: 'Terraform infra deployment'

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  S3_TERRAFORM_BACKEND_BUCKET: frog-art-terraform

jobs:
  terraform:
    name: 'Terraform Apply'
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # Setup AWS credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Setup Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: terraform validate

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
        # TO DO: Save plan to a file, use that file in apply

      - name: Terraform Apply
        id: apply
        run: terraform apply -auto-approve -input=false
